.ag-root-wrapper {
    border-radius: 10px 10px 0 0;
}

.ag-header {
    background-color: #3d3d3d !important;
}

.category-header {
    background-color: lightgrey !important;
    font-weight: bold !important;
}

.ag-header-row {
    color: white !important;
}

.ag-center-cols-container {
    width: 391px !important;
}

.ag-body-horizontal-scroll {
    display: none !important;
}

.ag-react-container {
    width: 20px;
    height: 20px;
}

.ag-floating-bottom {
    width: 393px !important;
    overflow: hidden !important;

    background-color: #3d3d3d;
    font-weight: bold !important;
}

.total-price {
    background-color: #3d3d3d !important;
    color: white !important;
}




































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































